.contenedor-principal-contacto{
  height: 400px;
  width: 900px;
  font-size: 20px;
}

.texto-principal-contacto{
  font-family: Roboto;
  color: rgb(222, 222, 222);
  filter: drop-shadow(0 0 0.1px #131313bf);
}

.texto-secundario-contacto{
  font-family: Roboto;
  color: rgb(222, 222, 222);
  filter: drop-shadow(0 0 0.1px #131313bf);
}

.boton-para-enviar-correo{
  height: 60px;
  width: 140px;
  background-color: #2b3035;
  border-radius: 4px;
  border: 1px solid rgb(222, 222, 222);
  transform: translate(8px,0);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.boton-para-enviar-correo:hover{
  background-color: #0e1012;
}