
.fecha-individual{
    border-radius: 3px;
    background-color: rgb(59, 84, 109);
    font-family: Roboto;
    color: black;
    font-size: larger;
    font-style: italic;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.fecha-individual:hover{
    background-color: rgb(29, 65, 131);
}

.texto-fecha{
    text-align: center;
    font-size: 18px;
}

.boton-tickets{
    width: 30%;
    color: rgb(0, 0, 0);
    background-color: rgb(190, 193, 197);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(320px, -5px);
    transition-property: background-color, color;
    transition-duration: 0.3s;
}
  
.boton-tickets:hover{
    background-color: rgba(0, 0, 0, 0.706);
    color: rgb(229, 225, 225);
    border: 1px solid rgb(220, 213, 213);
}

.contenedor-de-fechas{
    margin-top: 40px;
}

.horario-show{
    transform: translate(-350px, 30px);
    font-weight: bolder;
}

.precio-ticket{
    transform: translate(-355px, 30px);
    font-weight: bolder;
}