.contenedor-de-imagenes-integrantes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 200px;
}

.musico-banda{
    border-radius: 10px;
    height: 800px;
    margin-top: 32px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.musico-banda:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.807);
    background-color: rgba(0, 0, 0, 0.542);
}

.musico-banda img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.musico-banda figure{
    overflow: hidden;
}

.musico-banda:hover img{
    transform: scale(1.2);
}

.foto-musico{
    margin-top: 5px;
    margin-bottom: 50px;
}

.contenedor-datos-musico{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nombre-musico {
    font-family: Roboto;
    color: aliceblue;
    text-decoration: none;
    margin-top: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition-property: color;
    transition-duration: 0.1s;
}

.nombre-musico:hover{
    color: rgb(64, 113, 236);
}