.contenedor-principal-header{
  background-color: rgb(187, 187, 187);
  height: 25px;
  border-radius: 4px 4px 0 0;
}

.icono-carrito{
  transform: translate(1180px);
  color: rgb(27, 26, 28);
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.icono-carrito:hover{

  color:black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.contenedor-principal-cartel-carrito{
  background-color: rgb(187, 187, 187);
  height: 50px;
  width: 250px;
  transform: translate(920px, -168px);
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: 0cap;
}

.contenedor-principal-cartel-carrito:hover{
  background-color: rgb(239, 234, 234);
}

.texto-cantidad-carrito{
  text-align: center;
  font-weight: 0;
}

.texto-total-carrito{
  text-align: center;
  font-weight: 0;
  transform: translate(0px, -15px);
}

.texto-barra-superior{
  transform: translate(988px, -72px);
  width: 180px;
}

.contenedor-filtro-cantidad-productos{

  width: 300px;
  transform: translate(5px, -80px);
}

.texto-cantidad-prod{
  transform: translate(25px);
  color: rgb(225, 221, 221);
}

.barra-cantidad{
  transform: translate(65px);
}

.cant-prod-en-pantalla{
  position: absolute;
  transform: translate(70px, -3px);
  color: rgb(225, 221, 221);
}