.logo-elmes{
  width: 40px;
  height: 40px;
  transform: translate(1200px);
  transition: filter 0.1ms ease; /* Agregamos una transición suave al efecto */
}

.logo-elmes:hover {
  filter: drop-shadow(0 0 5px #646cffea);
}