#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.body{
  background-color: black;
}

.logo {
  position: absolute;
  top: 50px;
  left: 425px;
  margin-top: -120px;
  height: 28em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-image: auto
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.texto-post-titulo{
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: -65px;
  color: rgb(221, 225, 229)
}

.HOLA{
  color: brown;
  font-size: 40px;
}
